<!-- 検索結果表示画面 -->
<div class="search-wrap">
  <h4 class="search-title font-weight-bold">検索結果 "<%= @keyword %>"</h4>
  <ul class="search-post">
    <% @posts.each do |post| %>
      <li>
        <%= link_to post_path(post.id) do %>
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>